<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="cacheCopy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <cacheCopy.Properties.Settings>
            <setting name="BrowserRadioButtonChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManualSelectionRadioButtonChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ManualSelectionPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TargetFolderPath" serializeAs="String">
                <value>C:\tmp</value>
            </setting>
            <setting name="HoursCheckboxChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HoursSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="KilobytesCheckboxChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KilobytesSetting" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="ResolutionCheckboxChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Xresolution" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="YResolution" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="RemoveImagesFromCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseFileNamingPattern" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NamingPattern" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowOverwriteFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GIF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JPG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PNG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastCheckForUpdate" serializeAs="String">
                <value>2012-03-01</value>
            </setting>
        </cacheCopy.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
